@font-face {
    font-family: "Rubik";
    src: local("Rubik-Light"),
        url("./fonts/Rubik-Light.woff2") format("woff2"),
        url("./fonts/Rubik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: local("Rubik-Regular"),
        url("./fonts/Rubik-Regular.woff2") format("woff2"),
        url("./fonts/Rubik-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: local("Rubik-Medium"),
        url("./fonts/Rubik-Medium.woff2") format("woff2"),
        url("./fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: hsl(246, 80%, 60%);

    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --excercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    --border-radius: 15px;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--very-dark-blue);
}

main {
    flex-grow: 1;
}

h2,
h3,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* basic layout */

.dashboard {
    width: 100%;
    max-width: 1168px;
    margin: auto;
    padding: 81px 24px 51px;
    display: grid;
    gap: 24px;
}

ul.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 24px;
}

/* header */
header.dashboard-header {
    background: var(--dark-blue);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.header-top {
    padding: 30px 30px 34px;
    flex-grow: 1;
    background: var(--blue);
    border-radius: inherit;
    display: flex;
    align-items: center;
}

.header-top .avatar {
    width: 68px;
    height: 68px;
    margin-right: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid var(--pale-blue);
    overflow: hidden;
}

.header-top .avatar img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.header-top .title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.05em;
}

.header-top .title .for {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 300;
}

.dashboard-header>menu {
    flex-grow: 0;
    margin: 0;
    padding: 24px 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header>menu a {
    padding: 4px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--desaturated-blue);
    transition: color .3s ease-in-out;
}

.dashboard-header>menu a:where(:hover, :focus-visible, :active, .active) {
    color: white;
}

/* cards */
ul.cards>li {
    padding-top: 40px;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 94% -11px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
}

ul.cards>li.work {
    background-color: var(--work);
    background-image: url('./images/icon-work.svg');
}

ul.cards>li.play {
    background-color: var(--play);
    background-image: url('./images/icon-play.svg');
}

ul.cards>li.study {
    background-color: var(--study);
    background-image: url('./images/icon-study.svg');
}

ul.cards>li.exercise {
    background-color: var(--excercise);
    background-image: url('./images/icon-exercise.svg');
    background-position-y: -5px;
}

ul.cards>li.social {
    background-color: var(--social);
    background-image: url('./images/icon-social.svg');
}

ul.cards>li.self-care {
    background-color: var(--self-care);
    background-image: url('./images/icon-self-care.svg');
}

ul.cards>li>.card-content {
    padding: 24px 24px;
    background-color: var(--dark-blue);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    transition: background-color .3s ease-in-out;
}

ul.cards>li>.card-content:hover:not(:has(.card-options:hover)) {
    cursor: pointer;
    background-color: hsl(236, 41%, 34%);
}

ul.cards>li .card-title {
    font-size: 1rem;
    font-weight: 500;
}

ul.cards>li .current {
    font-size: 32px;
    font-weight: 400;
}

ul.cards>li .card-options {
    justify-self: end;
    display: flex;
    align-items: center;
    padding: 4px;
    transition: outline .3s ease-in-out;
}

ul.cards>li .card-options > svg {
    fill: var(--pale-blue);
    transition: fill .3s ease-in-out;
}

ul.cards>li .card-options:where(:hover, :focus-visible, :active) > svg {
    fill: white
}

ul.cards>li .previous {
    color: var(--pale-blue);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.02em;
    justify-self: end;
}


@media (min-width: 680px) {
    ul.cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 850px) {
    .header-top .avatar {
        width: 85px;
        height: 85px;
    }

    .header-top .title {
        font-size: 42px;
        font-weight: 300;
    }

    ul.cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-top .title .for {
        letter-spacing: -0.05em;
    }

    ul.cards>li .card-options {
        align-self: start;
    }
    
    ul.cards>li .previous {
        justify-self: start;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
}

@media (min-width: 1168px) {
    .dashboard {
        grid-template-columns: 1fr 3fr;
        gap: 30px;
    }

    ul.cards {
        gap: 30px;
    }

    ul.cards>li {
        padding-top: 45px;
    }

    ul.cards>li>.card-content {
        padding: 30px;
    }

    ul.cards>li .card-title {
        margin-bottom: 12px;
    }

    .header-top {
        flex-direction: column;
        align-items: flex-start;
        padding: 34px 32px;
    }

    .header-top .avatar {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .dashboard-header>menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    ul.cards>li .current {
        font-size: 57px;
        font-weight: 300;
    }

}
